<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>

<div class="main-section">
  <div class="main-container">
    <h1 class="page-title"><%=title%></h1>
    <div class="page-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
      voluptas quod, ducimus dolorum architecto in, laboriosam quos totam soluta
      fugiat, a illum quibusdam minus.
    </div>

    <form action="" method="POST">
      <label for="title">Type something:</label>
      <input type="text" id="title" name="title" required>
      <label for="body">Author:</label>
      <input type="text" id="title" name="author" required>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
