<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div class="main-section">
  <div class="main-container">
    <h1 class="page-title"><%=title%></h1>

    <p class="page-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
      voluptas quod, ducimus dolorum architecto in, laboriosam quos totam soluta
      fugiat, a illum quibusdam minus.
    </p>

    <p class="page-text">Build with Node&Express.js and MongoDB&Mongoose</p>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
